:root {
    --back: #009aff;
    --text-color: #bbb;
    --text-white: #fff;
  }
  
  /**** Start default theme ****/
  
  /* active link */
  .navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.active>a:hover,
  .navbar-inverse .navbar-nav>.active>a:focus,
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus,
  .carousel-indicators .active,
  .option-box .gear-check {
    background-color: var(--back);
  }
  
  .navbar-inverse .navbar-brand span,
  .about h1 span,
  .testimonials span,
  .footer h3,
  .footer .copyright span {
    color: var(--back);
  }
  
  /* dropdown menu */
  .navbar-nav>li>.dropdown-menu {
    border-top: 3px solid var(--back);
  }
  
  .option-box .color-option,
  .testimonials .carousel-indicators li.active {
    border: 3px solid var(--back);
  }
  
  /**** End default theme ****/